body {
  overflow: hidden;
  padding: 0% !important;
  display: flex;
  width: 100vw;


}

.container {

  /* Flexbox */
  display: flex;
  /* or inline-flex */
  /* flex-direction: column; */
  width: 100vw;

  /* Removes gaps on left and right of container */
  padding: 0% !important;
  align-items: center;
  justify-content: center;

}

#booking_btn {
  overflow-x: visible;
}

#map {
  /* Leaflet */
  padding: 0% !important;
  position: fixed;
  top: 0;

  height: 100vh;
  width: 100vw;
  /* position: relative; */
  align-items: center;
  justify-content: center;
}

.bookingModal,
#timepicker {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search_btn {
  z-index: 999;
  position: fixed;
  /* padding: 6px; */
  bottom: 50px;
  right: 30px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  cursor: pointer;
  align-items: center;

  /* round the button */
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.leaflet-container a {
  color: aqua;
  text-decoration: none;
  
}

#searchterms {
  z-index: 999;
  position: fixed;
  bottom: 46px;
  right: 70px;
  width: 60vw;
  border-radius: 20px;
}

#findme_btn {
  z-index: 999;
  position: fixed;
  /* padding: 6px; */
  bottom: 85px;
  right: 30px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  cursor: pointer;
  align-items: center;

  /* round the button */
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

#menu_btn {
  z-index: 999;
  position: fixed;
  /* padding: 6px; */
  bottom: 120px;
  right: 30px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  cursor: pointer;
  align-items: center;

  /* round the button */
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

#duration {
  display: grid;
  grid-template-columns: auto auto;
  /* Two columns */
  gap: 10px;
  /* Gap between columns */
}

nav {
  position: fixed;
  z-index: 998;
  background-color: #d99058;
  background-image: linear-gradient(315deg, #d99058 0%, #f8de7e 74%);
  top: 30px;
  height: 40px;
  width: 100vw;
  align-items: center;

}

#userInfo {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* align-items: center;
  justify-content: center; */
  width: 400px; /* Set width to 400 pixels */
  height: 600px; /* Set height to 600 pixels */
  background-color: #fefff5;



  border-radius: 20px;
  display: flex;


}